.field1{
 background-color: #2574A9 ;
}
.titre1{
 background-color: #2574A9 ;
}
.field2{
 background-color: #9A12B3 ;
}
.titre2{
 background-color: #9A12B3 ;
}
.field3{
 background-color: #DB0A5B ;
}
.titre3{
 background-color: #DB0A5B ;
}
