.identité {
  background: #2574A9;
}
.id {
  background: #2574A9;
}
.adresse {
  background: #9A12B3;
}
.ad {
  background: #9A12B3;
}
.informations {
  background: #DB0A5B;
}
.in {
  background: #DB0A5B;
}
